@tailwind base;
@tailwind components;
@tailwind utilities;

.marquee{
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  animation: marquee 5s linear infinite;
}
.marqueeSlow{
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  animation: marqueeSlow 9s linear infinite;
}
@keyframes marquee {
  0%{
    transform: translateX(400%);
  }
  100%{
    transform: translateX(-400%);
  }
}
@keyframes marqueeSlow {
  0%{
    transform: translateX(100%);
  }
  100%{
    transform: translateX(-100%);
  }
}


.perspective {
  perspective: 1000px; /* Controla la profundidad de la vista de la carta */
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.transition-transform {
  transition: transform 0.5s; /* Duración de la animación */
}

.hidden {
  display: none;
}

.backface-hidden {
  backface-visibility: hidden; /* Oculta la cara trasera cuando se voltea */
}

.front-face, .back-face {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
}

.back-face {
  transform: rotateY(180deg);
}



